$primary-color: #733ee7;;
$hover-color: #8f00b3;;
$font-family: 'Arial', sans-serif;

body {
  font-family: $font-family;
}

.custom-btn {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}